{% extends 'green/base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-9">
        <center>
            <h3>
                Time: {{ time }}<br/>
                Date: {{current_day}}/{{current_month}}/{{ current_year }}
            </h3>
        </center>
        <br/><br/><br/>
    </div>
    <div class="col-4">
        <h4>
            Kalendarz:<br>
        </h4>
        {{cal|safe}}

    </div>
    <div class="col-6">
        Zadania do wykonania na dziś:<br>
        {% for taskL in task_list  %}
            <ul>
                {% if taskL.task_date == now %}
                <li><a href="{% url 'task' taskL.id %}">{{ taskL }} - {{ taskL.task_date }}</a></li>
                {% endif %}
            </ul>
        {% endfor %}

        Wszytskie Zadania:<br>
        {% for taskL in task_list  %}
            <ul>
                <a href="{% url 'task' taskL.id %}">{{ taskL }} - {{ taskL.task_date }}</a>
            </ul>
        {% endfor %}



<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
  </div>
</div>


{% endblock %}