{% extends 'green/base.html' %}

{% block content %}

    <h1>list of plants: </h1>


{% for plantL in plant_list %}
    <ul>
        <strong><a href="{% url 'plant' plantL.id %}">{{ plantL }}</a></strong>
        <img src="{{plantL.plant_photo}}" alt="{{plant}}" border="0" />



<section class="u-clearfix u-palette-1-light-2 current-section u-block-78d3-1" custom-posts-hash="[I,T]" data-section-properties="{&quot;margin&quot;:&quot;none&quot;,&quot;stretch&quot;:true}" data-id="78d3" data-posts-content="[{'images':[[519,395]],'maps':[],'videos':[],'icons':[],'textWidth':889,'textHeight':368,'id':1,'headingProp':'h3','textProp':'text'}]" data-style="group-control-new-6" id="carousel_168a" data-source="functional_fix" style="background-image: none">
  <div class="u-clearfix u-sheet u-valign-middle u-block-78d3-2" style="min-height: 759px">
    <div class="u-align-left u-container-style u-group u-radius-50 u-shape-round u-white u-block-78d3-4" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500" style="width: 889px; min-height: 387px; background-image: none; box-shadow: 5px 5px 20px 0 rgba(var(--black-r),var(--black-g),var(--black-b),0.4); --animation-custom_in-translate_x: 0px; --animation-custom_in-translate_y: -300px; --animation-custom_in-opacity: 0.5; --animation-custom_in-rotate: 0deg; --animation-custom_in-scale: 1; margin-top: 60px; margin-right: 30px; margin-bottom: 0; margin-left: auto" data-block="56" data-block-type="Group">
      <div class="u-container-layout u-valign-middle u-block-78d3-5" style="padding-top: 30px; padding-right: 30px; padding-bottom: 30px; padding-left: 370px" data-container-layout-dom="7">
        <h2 class="u-text u-text-default u-block-78d3-6" style="margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: 0; font-family: &quot;Playfair Display&quot;, serif" data-block="57">{{plantL}}</h2>
        {% for taskL in task_list  %}
        {% if taskL.task_plant == plantL %}
        <ul>
          <p class="u-text u-text-default u-block-78d3-7" style="margin-top: 20px; margin-right: auto; margin-bottom: 0; margin-left: 0" data-block="58">{{ taskL }} - {{ taskL.task_date }} </p>
        </ul>

        {% endif %}
        {% endfor %}
      <a href="{% url 'plant' plantL.id %}" class="u-active-palette-4-light-1 u-btn u-btn-round u-button-style u-hover-palette-4-light-1 u-palette-4-base u-radius-15 u-block-78d3-12" style="letter-spacing: 1px; align-self: center; background-image: none; margin-top: 20px; margin-right: auto; margin-bottom: 0; margin-left: 0; padding-top: 10px; padding-right: 28px; padding-bottom: 10px; padding-left: 27px" data-block="59">Zobacz</a></div>
    </div>
    <div alt="" class="u-image u-image-circle u-block-78d3-9" data-image-width="1470" data-image-height="980" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500" style="width: 507px; height: 507px; background-image: url(&quot;/b90c83e3fa639/photo-1470770841072-f978cf4d019e.jpg&quot;); background-position: 50% 50%; --animation-custom_in-translate_x: -200px; --animation-custom_in-translate_y: 0px; --animation-custom_in-opacity: 0; --animation-custom_in-rotate: 0deg; --animation-custom_in-scale: 1; margin-top: -345px; margin-right: auto; margin-bottom: 0; margin-left: 30px" data-block="60" data-block-type="Image"></div>
  <div class="u-palette-4-base u-shape u-shape-circle u-block-78d3-13" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-direction="Left" style="width: 160px; height: 160px; background-image: none; margin-top: -90px; margin-right: auto; margin-bottom: 60px; margin-left: 377px" data-block="61" data-block-type="Shape"></div></div>
  </section>




    </ul>
{% endfor %}
{% endblock %}